/* VARIABLES, SETTINGS */

:root {
  /* Player constants */
  --playerwidth: 5vw;
  --playerheight: 5vw;
  --playerleft: 50vw;
  --playertop: 50vh;
  /* Pulse constants */
  --pulsediam: 70vw;
  /* Colors */
  --blue: #2eb2ff;
  --red: #ff3300;
  --green: #1efa4a;
  --yellow: #ffff66;
  --orange: #ff9933;
  --purple: #bd56fc;
  --pink: #ffa6e9;
  --darkgray: #555;
  --gray: #bbb;
  --white: #fff;
}

body { /* NOTE: this is SUPER important for disabling scroll / smooth side-scrolling */
  overflow: hidden;
  background-color: var(--blue);
}

/* META CLASSES */

.title {
  position: relative;
  z-index: 99;
  /*background-color: var(--blue);*/
}

.game {
  position: relative;
  z-index: 0;
}


/* GAME OBJECTS */

.player {
  position: absolute;
  z-index: 1;
}


.stainedglass {
  position: absolute;
  opacity: 0.5;
  /*border: 1vw solid #ffffff;*/
  z-index: 2;
}


.platform {
  position: absolute;
  border-radius: 1vw;
  /*background: url('imgs/brick.jpg') center center;
  background-size: contain;*/
  z-index: 3;
}


.pulse {
  position: absolute;
  border-radius: 50%;
  /*display: inline-block;*/
}

#outerPulse {
  background-color: var(--gray);
}

#innerPulse {
  background-color: var(--blue);
}

.halo {
  position: absolute;
  border-radius: 50%;
}

#halo1 {
  border: ;
  box-shadow:
    0 0 0 99999px rgba(0,0,0,1.0);
}



/* NON-GAME ELEMENTS */

.mode {

}

.menu {
  position: absolute;
  margin: 20vh 35vw;
}

.menu_button {
  font-size: 3vw;
  margin: 1vh 0;
  width: 5vw;
}

h1 {
  position: absolute;
  font-size: 5vw;
  width: 50vw;
  margin: 4vh 28vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  padding-top: 3vh;
  font-size: 4vw;
}

.virtual_button_container {
  position: absolute;
  z-index: 98;
  margin-left: 5vw;
  margin-top: calc(100vh - 27vw);
}

.virtual_button {
  width: 10vw;
  height: 10vw;
  position: absolute;
  padding: 1em;
  background-color: #337ab7;
  border: 1px solid #333;
  border-radius: 50%;
  text-align: center;
  font-size: 2vw;
  vertical-align: middle;
  line-height: 10vw;
}

#jump_button {
  opacity: 1.0;
}

#left_button {
  margin-left: 60vw;
}

#right_button {
  margin-left: 75vw;
}



/* OTHER SELECTORS */

.hidden {
  display: none;
}

.selected {

}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout : none
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

/*
body {
  background: url('imgs/kosmo1.jpg') center center;
  background-size: cover;
}

.background {
  position: absolute;
  width: 104vw;
  height: 55vw;
  margin-top: 20vw;
  margin-left: -5vw;
}
#bg1 {
  background-color: #75fbfd;
}
#bg2 {
  pointer-events: none;
  background: url('imgs/kosmoshalo.png') no-repeat;
  background-size: cover;
}
*/
